.dynamic-textarea {
  width: 100%;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  box-shadow: none;
  text-align: inherit;
  border: none;
  box-sizing: border-box;
  overflow-x: hidden;
  outline: none;
  resize: none;
  padding: 0;
  margin: 0;
}
