@use "../styles/colors" as *;

.editable-image {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  object-fit: cover;
  object-position: center;
  border: 1px solid $border-color;

  &-modal {
    &__header {
      text-align: center;
    }

    &__form {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}
